:root {
  /* Paleta original */
  --bg: #161618;
  --bg-alt: #1C1C1C;
  --text: #ffffff;
  --primary: #FFB55A;    /* amarelo quente */
  --secondary: #FA812F;  /* laranja vibrante */
  --accent: #FDBF60;     /* laranja claro */
  --highlight: #FF8911;  /* laranja forte */
  --muted: #aaa;
  --font: 'Inter', sans-serif;

  /* Verdes */
  --green-dark: #40A578;
  --green-light: #9DDE8B;

  /* Bege amarelado */
  --beige-yellow: #E2E2B6;
}


body {
  margin: 0;
  font-family: var(--font);
  background-color: var(--bg);
  color: var(--text);
  transition: all 0.3s ease-in-out;
}

a {
  color: var(--green-dark);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--green-light);
}

ul {
  padding-left: 1.2rem;
}

.container {
  padding: 2rem;
  max-width: 100%;
  margin: 0;
  width: 100vw;
  box-sizing: border-box; 
}
